# Case study. Movielens

In [1]:
!DIR
!DIR movielens

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: D2F9-5EFA

 Directorio de C:\Users\rehmi\Udemy Courses\Machine_Learning_2022\Jupyter Exercises\Pandas

07/10/2023  19:46    <DIR>          .
07/10/2023  19:46    <DIR>          ..
07/10/2023  19:46    <DIR>          .ipynb_checkpoints
07/10/2023  19:31    <DIR>          movielens
07/10/2023  18:54             2.107 movielens.ipynb
07/10/2023  18:48            38.792 pandas.ipynb
               2 archivos         40.899 bytes
               4 dirs  39.446.061.056 bytes libres
 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: D2F9-5EFA

 Directorio de C:\Users\rehmi\Udemy Courses\Machine_Learning_2022\Jupyter Exercises\Pandas\movielens

07/10/2023  19:31    <DIR>          .
07/10/2023  19:31    <DIR>          ..
03/06/2019  12:49       323.544.381 genome-scores.csv
03/06/2019  12:35            18.103 genome-tags.csv
03/06/2019  12:35                 0 Icon_
03/06/2019  12:35           570.090 links.csv
03/06/2019  12:49         1.397.542 movies.csv
03/06/2019  12:43       533.444.411 ratings.csv
03/06/2019  12:35            10.261 README.txt
03/06/2019  12:35        16.603.996 tags.csv
               8 archivos    875.588.784 bytes
               2 dirs  39.446.061.056 bytes libres

In [12]:
"""
The majority of data sets are stored in text files, and the way that these datas are ordered separated
with commas; so with the method "read_csv()" you have to pass the route first and then the separation 
character. This method will separate all these values and store them in dataframes.
"""
import pandas as pd
movies = pd.read_csv("movielens/movies.csv", sep=",")
tags = pd.read_csv("movielens/tags.csv", sep=",")
ratings = pd.read_csv("movielens/ratings.csv", sep=",")

# This is a new method ("head()"), it will show the first 15 rows.
print(movies.head(15))
movies.tail()

    movieId  ...                                       genres
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy
5         6  ...                        Action|Crime|Thriller
6         7  ...                               Comedy|Romance
7         8  ...                           Adventure|Children
8         9  ...                                       Action
9        10  ...                    Action|Adventure|Thriller
10       11  ...                         Comedy|Drama|Romance
11       12  ...                                Comedy|Horror
12       13  ...                 Adventure|Animation|Children
13       14  ...                                        Drama
14       15  ...                     Action|Adventure|Romance

[15 rows x 3 columns]

       movieId                          title                    genres
27273   131254   Kein Bund für's Leben (2007)                    Comedy
27274   131256  Feuer, Eis & Dosenbier (2002)                    Comedy
27275   131258             The Pirates (2014)                 Adventure
27276   131260            Rentun Ruusu (2001)        (no genres listed)
27277   131262               Innocence (2014)  Adventure|Fantasy|Horror

In [11]:
print(tags.head())
tags.tail()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

        userId  movieId            tag   timestamp
465559  138446    55999        dragged  1358983772
465560  138446    55999  Jason Bateman  1358983778
465561  138446    55999         quirky  1358983778
465562  138446    55999            sad  1358983772
465563  138472      923  rise to power  1194037967

In [10]:
# MovieId is linked with the tags dataframe.
print(ratings.head())
ratings.tail()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

          userId  movieId  rating   timestamp
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

In [13]:
# For now we'll delete the timestamp columns in tags and ratings.
del ratings["timestamp"]
del tags["timestamp"]

In [14]:
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5